In [1]:
import pandas as pd

In [2]:
cars_df=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\cars\\Car_sales_transactions.csv")
cars_df.head()

,Sales_ID,Name,Year,Selling_Price,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Transmission,Owner,Mileage,Engine,Max_Power,Seats
0,1,Maruti Swift Dzire VDI,2014,450000,145500,CT01,ST15,400001,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5
1,2,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,CT28,ST11,834001,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5
2,3,Honda City 2017-2020 EXi,2006,158000,140000,CT12,ST28,201301,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5
3,4,Hyundai i20 Sportz Diesel,2010,225000,127000,CT21,ST27,248001,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5
4,5,Maruti Swift VXI BSIII,2007,130000,120000,CT03,ST24,600020,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5

In [3]:
sales_df=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\cars\\Sales_Status.csv")
sales_df

      Sales_ID Sold
0            1    Y
1            2    Y
2            3    Y
3            4    Y
4            5    Y
...        ...  ...
7901      8124    N
7902      8125    N
7903      8126    N
7904      8127    N
7905      8128    N

[7906 rows x 2 columns]

In [5]:
pd.concat(objs=[cars_df,sales_df],axis=1)

,Sales_ID,Name,Year,Selling_Price,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Transmission,Owner,Mileage,Engine,Max_Power,Seats,Sales_ID,Sold
0,1,Maruti Swift Dzire VDI,2014,450000,145500,CT01,ST15,400001,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,1,Y
1,2,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,CT28,ST11,834001,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5,2,Y
2,3,Honda City 2017-2020 EXi,2006,158000,140000,CT12,ST28,201301,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5,3,Y
3,4,Hyundai i20 Sportz Diesel,2010,225000,127000,CT21,ST27,248001,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5,4,Y
4,5,Maruti Swift VXI BSIII,2007,130000,120000,CT03,ST24,600020,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5,5,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,8124,Hyundai i20 Magna,2013,320000,110000,CT22,ST14,452010,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5,8124,N
7902,8125,Hyundai Verna CRDi SX,2007,135000,119000,CT21,ST27,248001,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5,8125,N
7903,8126,Maruti Swift Dzire ZDi,2009,382000,120000,CT08,ST29,700005,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5,8126,N
7904,8127,Tata Indigo CR4,2013,290000,25000,CT29,ST24,632001,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,8127,N
7905,8128,Tata Indigo CR4,2013,290000,25000,CT21,ST27,248001,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5,8128,N