## Subsetting the DataFrames (slicing)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\fruits.csv")
df

              color  sphericity  weight   label
0            Orange       0.947     120  Orange
1            Orange       0.917     125  Orange
2            Orange       0.923     110  Orange
3            Orange       0.916     123  Orange
4            Orange       0.943     124  Orange
5            Orange       0.911     130  Orange
6            Orange       0.903     135  Orange
7            Orange       0.918     105  Orange
8            Orange       0.914     132  Orange
9            Orange       0.936     127  Orange
10  Greenish yellow       0.829     133  Orange
11  Greenish yellow       0.875     134  Orange
12  Greenish yellow       0.859     110  Orange
13            Green       0.849     119  Orange
14            Green       0.868     106  Orange
15  Greenish yellow       0.884     113  Orange
16  Greenish yellow       0.872     108  Orange
17  Greenish yellow       0.823     132  Orange
18            Green       0.853     119  Orange
19            Green       0.808     143  Orange
20  Greenish yellow       0.838     101  Orange
21  Greenish yellow       0.824     149  Orange
22            Green       0.894     136  Orange
23            Green       0.809     141  Orange
24  Greenish yellow       0.880     145  Orange
25            Green       0.834     109  Orange
26            Green       0.809     108  Orange
27            Green       0.860     144  Orange
28            Green       0.870     101  Orange
29  Greenish yellow       0.825     124  Orange
30            Green       0.717     154   Apple
31            Green       0.711     170   Apple
32            Green       0.714     164   Apple
33            Green       0.831     152   Apple
34            Green       0.721     172   Apple
35            Green       0.745     181   Apple
36            Green       0.775     173   Apple
37            Green       0.791     167   Apple
38            Green       0.733     184   Apple
39            Green       0.727     160   Apple
40   Reddish yellow       0.778     174   Apple
41   Reddish yellow       0.772     152   Apple
42              Red       0.776     172   Apple
43              Red       0.821     158   Apple
44              Red       0.727     169   Apple
45              Red       0.801     170   Apple
46   Reddish yellow       0.803     164   Apple
47              Red       0.845     154   Apple
48              Red       0.710     149   Apple
49   Reddish yellow       0.812     160   Apple
50              Red       0.784     142   Apple
51              Red       0.748     140   Apple
52              Red       0.723     165   Apple
53   Reddish yellow       0.815     152   Apple
54   Reddish yellow       0.823     167   Apple
55   Reddish yellow       0.745     172   Apple
56   Reddish yellow       0.753     143   Apple
57   Reddish yellow       0.753     177   Apple
58              Red       0.839     162   Apple
59   Reddish yellow       0.751     140   Apple

In [3]:
df.shape

(60, 4)

In [4]:
df.head()

    color  sphericity  weight   label
0  Orange       0.947     120  Orange
1  Orange       0.917     125  Orange
2  Orange       0.923     110  Orange
3  Orange       0.916     123  Orange
4  Orange       0.943     124  Orange

In [5]:
df[:10]

    color  sphericity  weight   label
0  Orange       0.947     120  Orange
1  Orange       0.917     125  Orange
2  Orange       0.923     110  Orange
3  Orange       0.916     123  Orange
4  Orange       0.943     124  Orange
5  Orange       0.911     130  Orange
6  Orange       0.903     135  Orange
7  Orange       0.918     105  Orange
8  Orange       0.914     132  Orange
9  Orange       0.936     127  Orange

In [6]:
df[:10:2]

    color  sphericity  weight   label
0  Orange       0.947     120  Orange
2  Orange       0.923     110  Orange
4  Orange       0.943     124  Orange
6  Orange       0.903     135  Orange
8  Orange       0.914     132  Orange

In [7]:
df[-5:]

             color  sphericity  weight  label
55  Reddish yellow       0.745     172  Apple
56  Reddish yellow       0.753     143  Apple
57  Reddish yellow       0.753     177  Apple
58             Red       0.839     162  Apple
59  Reddish yellow       0.751     140  Apple

In [8]:
df[::-1]

              color  sphericity  weight   label
59   Reddish yellow       0.751     140   Apple
58              Red       0.839     162   Apple
57   Reddish yellow       0.753     177   Apple
56   Reddish yellow       0.753     143   Apple
55   Reddish yellow       0.745     172   Apple
54   Reddish yellow       0.823     167   Apple
53   Reddish yellow       0.815     152   Apple
52              Red       0.723     165   Apple
51              Red       0.748     140   Apple
50              Red       0.784     142   Apple
49   Reddish yellow       0.812     160   Apple
48              Red       0.710     149   Apple
47              Red       0.845     154   Apple
46   Reddish yellow       0.803     164   Apple
45              Red       0.801     170   Apple
44              Red       0.727     169   Apple
43              Red       0.821     158   Apple
42              Red       0.776     172   Apple
41   Reddish yellow       0.772     152   Apple
40   Reddish yellow       0.778     174   Apple
39            Green       0.727     160   Apple
38            Green       0.733     184   Apple
37            Green       0.791     167   Apple
36            Green       0.775     173   Apple
35            Green       0.745     181   Apple
34            Green       0.721     172   Apple
33            Green       0.831     152   Apple
32            Green       0.714     164   Apple
31            Green       0.711     170   Apple
30            Green       0.717     154   Apple
29  Greenish yellow       0.825     124  Orange
28            Green       0.870     101  Orange
27            Green       0.860     144  Orange
26            Green       0.809     108  Orange
25            Green       0.834     109  Orange
24  Greenish yellow       0.880     145  Orange
23            Green       0.809     141  Orange
22            Green       0.894     136  Orange
21  Greenish yellow       0.824     149  Orange
20  Greenish yellow       0.838     101  Orange
19            Green       0.808     143  Orange
18            Green       0.853     119  Orange
17  Greenish yellow       0.823     132  Orange
16  Greenish yellow       0.872     108  Orange
15  Greenish yellow       0.884     113  Orange
14            Green       0.868     106  Orange
13            Green       0.849     119  Orange
12  Greenish yellow       0.859     110  Orange
11  Greenish yellow       0.875     134  Orange
10  Greenish yellow       0.829     133  Orange
9            Orange       0.936     127  Orange
8            Orange       0.914     132  Orange
7            Orange       0.918     105  Orange
6            Orange       0.903     135  Orange
5            Orange       0.911     130  Orange
4            Orange       0.943     124  Orange
3            Orange       0.916     123  Orange
2            Orange       0.923     110  Orange
1            Orange       0.917     125  Orange
0            Orange       0.947     120  Orange

In [10]:
df[::5], df[::5].shape

(              color  sphericity  weight   label
 0            Orange       0.947     120  Orange
 5            Orange       0.911     130  Orange
 10  Greenish yellow       0.829     133  Orange
 15  Greenish yellow       0.884     113  Orange
 20  Greenish yellow       0.838     101  Orange
 25            Green       0.834     109  Orange
 30            Green       0.717     154   Apple
 35            Green       0.745     181   Apple
 40   Reddish yellow       0.778     174   Apple
 45              Red       0.801     170   Apple
 50              Red       0.784     142   Apple
 55   Reddish yellow       0.745     172   Apple,
 (12, 4))

In [11]:
#indexing not allowed
df[10:11] #even for one row index not allowed instaed we ise slicing

              color  sphericity  weight   label
10  Greenish yellow       0.829     133  Orange

In [12]:
#columns
df['color']

0              Orange
1              Orange
2              Orange
3              Orange
4              Orange
5              Orange
6              Orange
7              Orange
8              Orange
9              Orange
10    Greenish yellow
11    Greenish yellow
12    Greenish yellow
13              Green
14              Green
15    Greenish yellow
16    Greenish yellow
17    Greenish yellow
18              Green
19              Green
20    Greenish yellow
21    Greenish yellow
22              Green
23              Green
24    Greenish yellow
25              Green
26              Green
27              Green
28              Green
29    Greenish yellow
30              Green
31              Green
32              Green
33              Green
34              Green
35              Green
36              Green
37              Green
38              Green
39              Green
40     Reddish yellow
41     Reddish yellow
42                Red
43                Red
44                Red
45                Red
46     Reddish yellow
47                Red
48                Red
49     Reddish yellow
50                Red
51                Red
52                Red
53     Reddish yellow
54     Reddish yellow
55     Reddish yellow
56     Reddish yellow
57     Reddish yellow
58                Red
59     Reddish yellow
Name: color, dtype: object

In [14]:
# the output comes as series as 1D & npo header
type(df['color']), df['color'].shape

(pandas.core.series.Series, (60,))

In [15]:
#to get the as a dataframe as 2D we give column names ina list 
df[['color']]

              color
0            Orange
1            Orange
2            Orange
3            Orange
4            Orange
5            Orange
6            Orange
7            Orange
8            Orange
9            Orange
10  Greenish yellow
11  Greenish yellow
12  Greenish yellow
13            Green
14            Green
15  Greenish yellow
16  Greenish yellow
17  Greenish yellow
18            Green
19            Green
20  Greenish yellow
21  Greenish yellow
22            Green
23            Green
24  Greenish yellow
25            Green
26            Green
27            Green
28            Green
29  Greenish yellow
30            Green
31            Green
32            Green
33            Green
34            Green
35            Green
36            Green
37            Green
38            Green
39            Green
40   Reddish yellow
41   Reddish yellow
42              Red
43              Red
44              Red
45              Red
46   Reddish yellow
47              Red
48              Red
49   Reddish yellow
50              Red
51              Red
52              Red
53   Reddish yellow
54   Reddish yellow
55   Reddish yellow
56   Reddish yellow
57   Reddish yellow
58              Red
59   Reddish yellow

In [16]:
type(df[['color']]), df[['color']].shape

(pandas.core.frame.DataFrame, (60, 1))

In [18]:
#by using list we can give multiple column names
df1=df[['color', 'label','weight']]
df1

              color   label  weight
0            Orange  Orange     120
1            Orange  Orange     125
2            Orange  Orange     110
3            Orange  Orange     123
4            Orange  Orange     124
5            Orange  Orange     130
6            Orange  Orange     135
7            Orange  Orange     105
8            Orange  Orange     132
9            Orange  Orange     127
10  Greenish yellow  Orange     133
11  Greenish yellow  Orange     134
12  Greenish yellow  Orange     110
13            Green  Orange     119
14            Green  Orange     106
15  Greenish yellow  Orange     113
16  Greenish yellow  Orange     108
17  Greenish yellow  Orange     132
18            Green  Orange     119
19            Green  Orange     143
20  Greenish yellow  Orange     101
21  Greenish yellow  Orange     149
22            Green  Orange     136
23            Green  Orange     141
24  Greenish yellow  Orange     145
25            Green  Orange     109
26            Green  Orange     108
27            Green  Orange     144
28            Green  Orange     101
29  Greenish yellow  Orange     124
30            Green   Apple     154
31            Green   Apple     170
32            Green   Apple     164
33            Green   Apple     152
34            Green   Apple     172
35            Green   Apple     181
36            Green   Apple     173
37            Green   Apple     167
38            Green   Apple     184
39            Green   Apple     160
40   Reddish yellow   Apple     174
41   Reddish yellow   Apple     152
42              Red   Apple     172
43              Red   Apple     158
44              Red   Apple     169
45              Red   Apple     170
46   Reddish yellow   Apple     164
47              Red   Apple     154
48              Red   Apple     149
49   Reddish yellow   Apple     160
50              Red   Apple     142
51              Red   Apple     140
52              Red   Apple     165
53   Reddish yellow   Apple     152
54   Reddish yellow   Apple     167
55   Reddish yellow   Apple     172
56   Reddish yellow   Apple     143
57   Reddish yellow   Apple     177
58              Red   Apple     162
59   Reddish yellow   Apple     140

In [19]:
df[:10][['color','weight']]

    color  weight
0  Orange     120
1  Orange     125
2  Orange     110
3  Orange     123
4  Orange     124
5  Orange     130
6  Orange     135
7  Orange     105
8  Orange     132
9  Orange     127

In [20]:
df[-10:][['color','label']]

             color  label
50             Red  Apple
51             Red  Apple
52             Red  Apple
53  Reddish yellow  Apple
54  Reddish yellow  Apple
55  Reddish yellow  Apple
56  Reddish yellow  Apple
57  Reddish yellow  Apple
58             Red  Apple
59  Reddish yellow  Apple

In [22]:
df.color, type(df.color)

(0              Orange
 1              Orange
 2              Orange
 3              Orange
 4              Orange
 5              Orange
 6              Orange
 7              Orange
 8              Orange
 9              Orange
 10    Greenish yellow
 11    Greenish yellow
 12    Greenish yellow
 13              Green
 14              Green
 15    Greenish yellow
 16    Greenish yellow
 17    Greenish yellow
 18              Green
 19              Green
 20    Greenish yellow
 21    Greenish yellow
 22              Green
 23              Green
 24    Greenish yellow
 25              Green
 26              Green
 27              Green
 28              Green
 29    Greenish yellow
 30              Green
 31              Green
 32              Green
 33              Green
 34              Green
 35              Green
 36              Green
 37              Green
 38              Green
 39              Green
 40     Reddish yellow
 41     Reddish yellow
 42                Red
 43                Red
 44                Red
 45                Red
 46     Reddish yellow
 47                Red
 48                Red
 49     Reddish yellow
 50                Red
 51                Red
 52                Red
 53     Reddish yellow
 54     Reddish yellow
 55     Reddish yellow
 56     Reddish yellow
 57     Reddish yellow
 58                Red
 59     Reddish yellow
 Name: color, dtype: object,
 pandas.core.series.Series)

In [23]:
cars=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\usedcars.csv")
cars

     year model  price  mileage   color transmission
0    2011   SEL  21992     7413  Yellow         AUTO
1    2011   SEL  20995    10926    Gray         AUTO
2    2011   SEL  19995     7351  Silver         AUTO
3    2011   SEL  17809    11613    Gray         AUTO
4    2012    SE  17500     8367   White         AUTO
..    ...   ...    ...      ...     ...          ...
145  2006   SES   6200    95000  Silver         AUTO
146  2002    SE   5995    87003     Red         AUTO
147  2000    SE   5980    96841     Red         AUTO
148  2001    SE   4899   151479  Yellow         AUTO
149  2000    SE   3800   109259     Red         AUTO

[150 rows x 6 columns]

In [24]:
cars[:14][['model','color','mileage']]

   model   color  mileage
0    SEL  Yellow     7413
1    SEL    Gray    10926
2    SEL  Silver     7351
3    SEL    Gray    11613
4     SE   White     8367
5    SEL  Silver    25125
6    SEL    Blue    27393
7    SEL  Silver    21026
8    SES  Silver    32655
9    SES  Silver    36116
10   SEL   Black    40539
11   SES  Silver     9199
12   SEL   Green     9388
13   SES     Red    32058

In [25]:
signals=pd.read_csv("C:\\Users\\pgkvi\\OneDrive\\Desktop\\Python Practice\\DS course\\DataSet\\Signals.csv")
signals

,id,sample,sign_type,r1,g1,b1,r2,g2,b2,r3,...,b13,r14,g14,b14,r15,g15,b15,r16,g16,b16
0,1,train,pedestrian,155,228,251,135,188,101,156,...,244,172,228,235,177,235,244,22,52,53
1,2,train,pedestrian,142,217,242,166,204,44,142,...,237,182,228,143,171,228,196,164,227,237
2,3,train,pedestrian,57,54,50,187,201,68,51,...,59,76,84,22,82,93,17,58,60,60
3,4,train,pedestrian,22,35,41,171,178,26,19,...,34,64,61,4,211,222,78,19,27,29
4,5,train,pedestrian,169,179,170,231,254,27,97,...,91,188,205,78,125,147,20,160,183,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,67,train,stop,74,78,65,145,56,55,124,...,65,125,34,34,130,36,36,109,118,106
202,68,test,stop,237,249,245,220,59,53,220,...,154,221,67,59,220,59,53,177,179,165
203,69,train,stop,162,187,181,114,47,38,115,...,209,115,51,41,115,51,41,218,238,226
204,70,test,stop,161,187,181,51,21,20,52,...,166,51,21,20,51,21,20,172,198,193
205,99,example,stop,204,227,220,196,59,51,202,...,196,190,50,43,190,47,41,165,195,196

In [28]:
signals.sample(10) #randomly 10 sample will select

,id,sample,sign_type,r1,g1,b1,r2,g2,b2,r3,...,b13,r14,g14,b14,r15,g15,b15,r16,g16,b16
50,51,train,pedestrian,191,189,186,131,92,43,60,...,30,173,115,29,173,115,29,180,120,35
12,13,test,pedestrian,221,244,237,52,45,26,205,...,13,74,51,13,34,30,18,50,38,14
199,65,train,stop,130,155,155,65,30,29,65,...,44,65,30,29,65,30,29,92,101,81
125,61,train,speed,67,78,73,148,178,172,148,...,50,142,171,164,139,164,157,49,59,54
90,26,train,speed,29,44,43,140,162,154,122,...,150,138,159,152,140,162,154,172,194,188
95,31,train,speed,36,51,51,68,90,90,66,...,90,68,90,90,68,90,90,27,37,34
21,22,test,pedestrian,117,137,132,116,105,67,58,...,22,18,26,22,19,28,26,19,28,26
189,55,train,stop,203,202,197,172,68,67,172,...,83,165,61,60,177,74,70,117,117,107
38,39,train,pedestrian,52,58,45,37,60,4,209,...,42,59,75,27,46,57,36,49,54,42
46,47,test,pedestrian,202,229,226,105,140,59,190,...,121,157,193,122,165,194,190,166,197,193

In [30]:
signals.sample #conflict with the column name

<bound method NDFrame.sample of      id   sample   sign_type   r1   g1   b1   r2   g2   b2   r3  ...  b13  \
0     1    train  pedestrian  155  228  251  135  188  101  156  ...  244
1     2    train  pedestrian  142  217  242  166  204   44  142  ...  237
2     3    train  pedestrian   57   54   50  187  201   68   51  ...   59
3     4    train  pedestrian   22   35   41  171  178   26   19  ...   34
4     5    train  pedestrian  169  179  170  231  254   27   97  ...   91
..   ..      ...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
201  67    train        stop   74   78   65  145   56   55  124  ...   65
202  68     test        stop  237  249  245  220   59   53  220  ...  154
203  69    train        stop  162  187  181  114   47   38  115  ...  209
204  70     test        stop  161  187  181   51   21   20   52  ...  166
205  99  example        stop  204  227  220  196   59   51  202  ...  196

     r14  g14  b14  r15  g15  b15  r16  g16  b16
0    172  228  235  177  235  244   22   52   53
1    182  228  143  171  228  196  164  227  237
2     76   84   22   82   93   17   58   60   60
3     64   61    4  211  222   78   19   27   29
4    188  205   78  125  147   20  160  183  187
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
201  125   34   34  130   36   36  109  118  106
202  221   67   59  220   59   53  177  179  165
203  115   51   41  115   51   41  218  238  226
204   51   21   20   51   21   20  172  198  193
205  190   50   43  190   47   41  165  195  196

[206 rows x 51 columns]>

In [31]:
signals[['sample']]

      sample
0      train
1      train
2      train
3      train
4      train
..       ...
201    train
202     test
203    train
204     test
205  example

[206 rows x 1 columns]